.content{
	
	width : 100%;
	height : auto;
	color : white;
}

.side{
	
	float : left;
	width : 15%;
	height : auto;
	background-color : black;
}

.sidebutton{
	background-color: inherit;
	border: 1px solid black;
	outline: none;
	cursor: pointer;
	font-size: 100%;
	color: white;
	width: 100%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	padding: 10%;
}

.sidebutton:hover {
	background-color: #fa6102;
	border-radius : 4px;
}

.sidebutton.active{
	background-color: #fa6102;
}

.otherSide{
	float : right;
	width : 80%;
	height : auto;
}

h1{
	color : black;
	display : block;
	margin-left : auto;
	margin-right : auto;
}

#para{
	color  :black;
	font-size : 100%;
	font-style : Helivetica;
}

#para:hover{
	color : #fa6102;
}

.imgzoom{
	border-radius : 8px;
	transition : transform .2s;

}

.imgzoom:hover {
  
  transform: scale(1.5);
}
